<app-form-registration></app-form-registration>
<div id="header">
  <img id="header-logo" src="assets/logo-big.svg">
  <div id="header-content">
    <a>Новости</a>
    <a href="#section-about">О нас</a>
    <a href="#join-button" >Записаться</a>
  </div>
</div>
<section id="section-intro">
  <h1>Образовательная платформа от учеников Школы “Летово”</h1>
</section>
<section id="section-news">
  <div class="section-news-с">
    <div class="card-news">
      <h2>Как правильно организовать бизнес‑конференцию?</h2>
      <div class="info">
        <img src="https://thispersondoesnotexist.com/image">
        <span>Потапова Мария • 12.08.2023</span>
      </div>
    </div>
    <div class="card-news">
      <h2>Из App Store пропали приложения VK</h2>
      <div class="info">
        <img src="https://thispersondoesnotexist.com/image">
        <span>Потапова Мария • 12.08.2023</span>
      </div>
    </div>
  </div>
  <div class="section-news-с">
    <div class="card-news">
      <h2>Как хотеть большего? Советы выпускника</h2>
      <div class="info">
        <img src="https://thispersondoesnotexist.com/image">
        <span>Потапова Мария • 12.08.2023</span>
      </div>
    </div>
    <div class="card-news">
      <h2>Тайм-менеджмент для начинающих студентов ВУЗов</h2>
      <div class="info">
        <img src="https://thispersondoesnotexist.com/image">
        <span>Потапова Мария • 12.08.2023</span>
      </div>
    </div>
  </div>
  <div class="section-news-с" id="section-news-big"
       style="background: url('https://thisartworkdoesnotexist.com') center/cover no-repeat">
    <div class="overlay">
      <h2>Открыта регистрация на олимпиаду по геометрии имени И. Ф. Шарыгина</h2>
    </div>
  </div>
  <div id="section-news-more">
    <div id="more-button">
      <span>Узнать больше</span>
      <img src="assets/icons/arrow-right.svg">
    </div>
  </div>
</section>
<section id="section-about">
  <div id="section-about-left">
    <h1>О нас</h1>
    <span>
      Мне кажется, самое красивое и доброе — это вкладываться в детей, в их развитие и образование. Я сам не перестаю учиться. Люблю пример Алисы в Зазеркалье, которая, чтобы оставаться на месте, бежала. Сегодня, если вы не учитесь, вас отбрасывает назад. Вы должны соответствовать меняющемуся миру.
      <br><br>
      Проект «Летово» сделан для России, а не для экспорта. Я хочу, чтобы дети инвестировали полученные знания в свою страну.
    </span>
  </div>
  <div id="section-about-right"></div>
</section>
<section id="section-graduates">
  <h1>Выпускники, всегда готовые помочь</h1>
  <ul>
    <li>
      <div class="card-people">
        <div class="card-people-top"
             style="background: url('https://thispersondoesnotexist.com/image') center/cover no-repeat">
        </div>
        <div class="card-people-bottom">
          <h3>Потапова Мария</h3>
          <span>выпустилась в 2021</span>
        </div>
      </div>
    </li>
    <li>
      <div class="card-people">
        <div class="card-people-top"
             style="background: url('https://thispersondoesnotexist.com/image') center/cover no-repeat">
        </div>
        <div class="card-people-bottom">
          <h3>Потапова Мария</h3>
          <span>выпустилась в 2021</span>
        </div>
      </div>
    </li>
    <li>
      <div class="card-people">
        <div class="card-people-top"
             style="background: url('https://thispersondoesnotexist.com/image') center/cover no-repeat">
        </div>
        <div class="card-people-bottom">
          <h3>Потапова Мария</h3>
          <span>выпустилась в 2021</span>
        </div>
      </div>
    </li>
    <li>
      <div class="card-people">
        <div class="card-people-top"
             style="background: url('https://thispersondoesnotexist.com/image') center/cover no-repeat">
        </div>
        <div class="card-people-bottom">
          <h3>Потапова Мария</h3>
          <span>выпустилась в 2021</span>
        </div>
      </div>
    </li>
    <li>
      <div class="card-people">
        <div class="card-people-top"
             style="background: url('https://thispersondoesnotexist.com/image') center/cover no-repeat">
        </div>
        <div class="card-people-bottom">
          <h3>Потапова Мария</h3>
          <span>выпустилась в 2021</span>
        </div>
      </div>
    </li>
  </ul>
</section>
<div id="join-button" (click)="openReg()">
  Записаться
</div>
<section id="section-footer">
  <div id="section-footer-left">
    <h1>8 800 100 51 15</h1>
    <span>ask@letovo.ru</span>
    <a href="https://vk.com/feironox5" target="_blank">
      <div id="section-footer-logo"></div>
    </a>
  </div>
  <div id="section-footer-right">
    <div class="card-socials"
         style="background: linear-gradient(180deg, #7000FF 0%, #FA00FF 43.79%, #FFA800 100%);">
      <div class="card-socials-top"><img src="assets/icons/logo-instagram.svg"></div>
      <div class="card-socials-bottom">Instagram</div>
    </div>
    <div class="card-socials" style="background: #2787F5;">
      <div class="card-socials-top"><img src="assets/icons/logo-vk.svg"></div>
      <div class="card-socials-bottom">ВКонтакте</div>
    </div>
    <div class="card-socials">
      <div class="card-socials-top"><img src="assets/icons/logo-email.svg"></div>
      <div class="card-socials-bottom">Почта</div>
    </div>
  </div>
</section>
